body {
  background-color: #2b2b2b;
  font-family: 'Raleway', sans-serif;
  color: #ffb300;
}

.map {
  border-style: none;
  border-image: none;
  min-height: 200px;
}

.fa.icon {
  display: table-cell;
}

/* splash screen*/

.loading-splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  z-index: 999;
}

.loading-splash.loaded {
  opacity: 0;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.loading-text {
  color: #f7b617;
  font-family: 'Josefin Sans', sans-serif;
}

.loading-text .letter {
  display: inline-block;
  transition: transform .5s linear, opacity .5s linear;
  opacity: 0;
  transform: rotate3d(.1, 1, 0, 90deg) translate3d(0, 15%, 0);
}

.loading-text .letter.visible {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 90deg) translate3d(0, 0, 0);
}

@-webkit-keyframes hop {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1) translate3d(0, -80%, 0);
  }
}

@-webkit-keyframes duck {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 10%, 0);
  }
}

/*autocomplete*/

.autocomplete-suggestions {
 	border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}

