body {
  background-color: #f5f8f9;
  font-family: 'Raleway', sans-serif;
  color: #b7d84b;
}

header.container.box-header {
  background-color: #e8eaeb;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
}

h1.text-center.loading-text {
  text-shadow: 2px 2px #484949;
  font-size: 4em;
}

.map {
  border-style: none;
  border-image: none;
  min-height: 450px;
}

.fa.icon {
  display: table-cell;
}

.bg-txt {
  background-image: url(../assets/images/fondotext.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 440px;
}

/* splash screen*/

.loading-splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5f8f9;
  z-index: 999;
}

.loading-splash.loaded {
  opacity: 0;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.loading-text {
  color: #b7d84b;
  font-family: 'Delius Unicase', cursive;
}

.loading-text .letter {
  display: inline-block;
  transition: transform .5s linear, opacity .5s linear;
  opacity: 0;
  transform: rotate3d(.1, 1, 0, 90deg) translate3d(0, 15%, 0);
}

.loading-text .letter.visible {
  opacity: 1;
  transform: rotate3d(0, 0, 0, 90deg) translate3d(0, 0, 0);
}

@-webkit-keyframes hop {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  100% {
    transform: scale3d(1.2, 1.2, 1) translate3d(0, -80%, 0);
  }
}

@-webkit-keyframes duck {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 10%, 0);
  }
}

/*autocomplete*/

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}

.cont-img {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
}

.food-imgs {
  border-radius: 25px;
  height: inherit;
  width: 100%;
}

.overlay {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .2s ease;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 18px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text:hover{
  text-decoration: none;
  color: white;
}

i.icon {
  font-size: 20px;
}

i.fa.fa-home.text-center.icon,
i.fa.fa-usd.text-center.icon,
i.fa.fa-cutlery.text-center.icon 
{
  display: block;
  padding: 10px;
}

.sub-t {
  margin-top: 5px;
}

.text-md {
  color: #000;
  font-size: 16px;
}

button.btn.btn-block {
  color: white;
  font-weight: bold;
  background-color: #a3832e;
}